[submodule "NevermoreEngine"]
	path = NevermoreEngine
	url = git@github.com:Quenty/NevermoreEngine.git
	branch = version2
[submodule "Roblox-ControlBindingsFramework"]
	path = Roblox-ControlBindingsFramework
	url = git@github.com:Twin1Twin2/Roblox-ControlBindingsFramework.git
[submodule "testez"]
	path = testez
	url = git@github.com:Roblox/testez.git
